# Added
.env
docker-compose.yml

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Environment variables
.env

# Built output
dist/
build/
out/
public/

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Tests
coverage/
.nyc_output/
